.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 30px;
    width: auto;
    border: 2px solid black;
    border-radius: 21px;
    height: 45px;
}
button{
    font-size: 35px;
    background: greenyellow;
    width: 80px;
    height: 50px;
    border-radius: 20px;
    border-color: black;
}
.calculator{
    display: inline-block;
    background-color: skyblue;
    padding: 8px;
    border-radius: 20px;
}
